/* @override http://127.0.0.1/~niko/frankensteins/blog/common-css.css */

html{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin:-0px;
	padding: -0px;
}

body {
	margin: -0px;
	padding: -0px;
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	background-color: whitesmoke;
}


.content{
	width: 800px;
	padding-left: 8em;
	margin: -0px auto;
	overflow: hidden;
}

.nav {
	width: 900px;
	margin: -0px auto;
	list-style: none outside;
	padding: 0;
	overflow: hidden;
	height: 4em;
}

.nav li {
	display: inline;
	float: right;
	padding: 0;
	margin: 0;
}


div.nav li a
{
	text-align: center;
	display: block;
	min-width: 45px;
	padding: 1px 15px 2px 15px;
	margin: 0;
	margin-left: -1px;
	
}

.date {
	color: #aaa;	
}
.post{
	margin-top: 2em;
}
.post span.date{
	margin-left: -6em;
	font-size: 1.3em;
}

.post h2{
	display: inline;
	margin-left: 0.5em;
}

.index {
	border-top: 1px solid darkgray;
	padding: 2em 0em 1em 0em;
}

.index_item span.date{
	margin-left: -5.5em;
	font-size: 1em;
}

.copy{
	padding: 5em 0em 1em 0em;
	text-align: center;
	font-size: 0.7em;
	color: #aaa;
	margin: -0px auto;
}

.copy a{
	color: #aaa;	
}
