/* @override http://127.0.0.1/~niko/frankensteins/blog/common-css.css */

html{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin:-0px;
	padding: -0px;
	/*background-color: #ddd;*/
	/*background-image: url(img/diag.png);*/
}

body {
	margin: -0px;
	padding: -0px;
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	background-color: whitesmoke;
}

.nav {
	width: 900px;
	margin: -0px auto;
	list-style: none outside;
	padding: 0;
	overflow: hidden;
	height: 4em;
}

.date{
	margin-left: -6em;
	float: left;
	font-size: 1.3em;
	color: #aaa;
}

.content{
	width: 800px;
	padding-left: 8em;
	margin: -0px auto;
	overflow: hidden;
}
.post{
	
}
.index {
	border-top: 1px solid darkgray;
	padding: 2em 0em 1em 0em;
}
.copy{
	padding: 5em 0em 5em 0em;
	text-align: center;
	font-size: 0.8em;
}