/* @override http://127.0.0.1/~niko/frankensteins/blog/common-css.css
	http://127.0.0.1:9001/_common-css.css */

html{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin:-0px;
	padding: -0px;
}

body {
	margin: -0px;
	padding: -0px;
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	background-color: whitesmoke;
}
#banner{
	font-size: 40px;
}

#wrapper{
	width: 800px;
	margin: -0px auto;
}

.content{
	width: 800px;
	padding-left: 1em;
	margin: -0px auto;
	overflow: hidden;
}
a{
 	color: darkblue;
 	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
 
.nav li {
	display: inline;
	float: right;
	padding: 0;
	margin: 0;
}


.nav li a
{
	text-align: center;
	display: block;
	min-width: 45px;
	padding: 1px 15px 2px 15px;
	margin: 0;
	margin-left: -1px;
	
}

.date {
	color: #aaa;	
}

.title h2{
	display: inline;
}
.index_item{
	/* for the dates to show */
	margin-left: 100px;
}

.index_item span.date{
	margin-left: -6em;
	/*font-size: 1em;*/
}

div.content span.date::after{
	content: " »";	
}

#wrapper div.content div.index_item span.date::after {
	content: "-";	
}

#footer{
	padding: 1em 0em 1em 0em;
	text-align: center;
	font-size: 0.7em;
	color: #aaa;
	margin: -0px auto;
}

#footer a{
text-decoration: none;
	color: #888;
}
